* {
    margin: 0 auto;
}

html {
    box-sizing: border-box;
    min-height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    --sr_margin-px: 10px;
    --sr_margin-vw: 0.5vw;
    --sr_size_px: 150px;
    --sr_size-vw: 10vw;
    --polygon_margin: calc(var(--sr_margin-px) + var(--sr_margin-vw));
    --polygon_size: calc(var(--sr_size_px) + var(--sr_size-vw));
    --polygon_gap: clamp(1.5rem, 3vw, 3rem);
    --polygon_gap-50: calc(50% + var(--polygon_margin));
    --polygon_gap-100: calc(100% + var(--polygon_margin));
    --polygon_gap-50-neg: calc(var(--polygon_gap-50) * -1);
    --polygon_gap-100-neg: calc(var(--polygon_gap-100) * -1);
    --polygon_gap-neg: calc(var(--polygon_gap) * -1);
    --srg_left: 20vw;
    --srg_bottom: 120px;
    --side_indent: 110px;
}

body {
    background: #F7F9FC;
}

/*html,*/
/*body {*/
/*    overflow-x: hidden;*/
/*}*/

footer {
    margin-top: 50px;
}

h1 {
    color: #F7F7F7;
    font-family: Source Sans Pro, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    /* 55px */
    letter-spacing: -1.465px;
}

h2 {
    font-family: Source Sans Pro, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 40px */
    letter-spacing: -1px;
}

h3 {
    font-family: Source Sans Pro, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 28px */
    letter-spacing: -1px;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-none {
    display: none;
}