.cover-rectangle-right-top {
    background: url("/img/Group 2348.png");
    /*background-origin: content-box;*/
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 140vh;
    z-index: 2;
    width: 17%;
    height: 50%;

}

.header-rectangle-1 {
    position: absolute;
    top: 35vh;
    right: 20vw;
    width: 110px;
    height: 110px;
    transform: rotate(45deg);
    flex-shrink: 0;
    border: 6px solid #FFF;
    opacity: 0.9;
    background: rgba(6, 37, 91, 0.80);
    color: #FFF;
}

.header-rectangle-1:hover {
    width: 115px;
    height: 115px;
}

.header-rectangle-2 {
    width: 90px;
    height: 90px;
    transform: rotate(45deg);
    flex-shrink: 0;
    border: 7px solid #06255B;
    opacity: 0.9;
    background: rgba(6, 37, 91, 0.80);
    position: absolute;
    top: 55vh;
    right: 30vw;
    color: #FFFFFF;
}

.header-rectangle-2:hover {
    width: 95px;
    height: 95px;
}

.header-rectangle-3 {
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    flex-shrink: 0;
    border: 8px solid #DA5D24;
    opacity: 0.9;
    background: rgba(6, 37, 91, 0.80);
    position: absolute;
    top: 70vh;
    right: 19.3vw;
    color: #FFFFFF;
}

.header-rectangle-3:hover {
    width: 125px;
    height: 125px;
}

.rectangle-text-link {
    /*transform-origin: bottom right;*/
    text-align: center;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 85%;
    /* 17.85px */
}

#rtl-1 {
    transform: translate(1px, 45px) rotate(-45deg);
}

#rtl-2 {
    transform: translate(1px, 35px) rotate(-45deg);
}

#rtl-3 {
    transform: translate(5px, 50px) rotate(-45deg);
}

.header-ground-rectangle-1 {
    width: 115px;
    height: 115px;
    /*transform: rotate(45deg);*/
    flex-shrink: 0;
    border: 1px solid #FFF;
    opacity: 0.6;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.header-ground-rectangle-2 {
    width: 95px;
    height: 95px;
    /*transform: rotate(45deg);*/
    flex-shrink: 0;
    border: 1px solid #FF7C40;
    opacity: 0.9;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: -2;
}

.header-ground-rectangle-3 {
    width: 125px;
    height: 125px;
    /*transform: rotate(45deg);*/
    flex-shrink: 0;
    border: 1px solid #FFF;
    opacity: 0.9;
    position: absolute;
    top: 10px;
    left: 10px;
}

.cover-rectangle-right-bottom {
    background-image: url("/img/Rectangle 34.png");
    background-origin: content-box;
    background-size: cover;
    background-position-y: center;
    float: right;
    margin-top: 18vh;
    width: 25vw;
    height: 60%;
    display: flex;
    justify-items: auto;
    align-items: center;
}

.chem-f-1 {
    width: 70%;
}

.chem-f-2 {
    width: 10%;
    position: absolute;
    bottom: 3%;
    left: 15%;
}

.cover-rectangle {
    background: url("/img/Rectangle 28 top.png");
    /*background-origin: content-box;*/
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90%;
}

.main-services {
    background: #06255B;
    width: 100%;
    height: 150vh;
    position: relative;
    z-index: -1;
}

.services-description h2 {
    color: #FFFFFF;
}

.services-description p {
    color: #FFF;
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.3px;
    padding: 15px 15px 0 0;
}

.services-description {
    max-width: 25vw;
    position: absolute;
    top: 42%;
    left: 22%;
}

#services-rectangle-group {
    position: relative;
}

.services-rectangle-group {
    transform: rotate(45deg);
    position: absolute;
    left: 48%;
    /*right: 30%;*/
    /*top: 8%;*/
    bottom: 15%;
    /*z-index: 0;*/
}

.services-rectangle {
    width: 12vw;
    height: 12vw;
    /*transform: rotate(45deg);*/
    flex-shrink: 0;
    border: 0.986px solid #D5D5D5;
    background: #FFF;
    margin: 3vw;
}

.services-rectangle p {
    color: #313131;
    text-align: center;
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
    letter-spacing: 0.296px;
    margin-bottom: 20px;
}

.twist-rectangle {
    position: relative;
}

#tr-right {
    position: absolute;
    margin: 0;
    left: 100%;
}

#tr-left {
    position: absolute;
    margin: 0;
    right: 100%;
}

.rectangle-link {
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(9px, 65px) rotate(-45deg);
}

.rectangle-link:hover {
    opacity: 80%;
    transform: translate(15px, 65px) rotate(-45deg);
}

.main-bottom {
    background: url("/img/Rectangle 28 bottom.png");
    background-size: cover;
    width: 100%;
    height: 90%;
}

.main-advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-advantages-heading {
    max-width: 33%;
    margin-top: 150px;
}

.main-advantages-heading h2 {
    color: #000;
    text-align: center;
}

.main-advantages-subheading {
    max-width: 24%;
    margin-top: 18px;
    margin-bottom: 40px;
}

.subheading {
    color: #737B7D;
    text-align: center;
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.3px;
}

.main-advantages-cards {
    display: flex;
    justify-content: space-between;
    background: no-repeat bottom url("/img/Group 2364.png");
    margin-left: 30px;
    margin-right: 30px;
}

.ma-vcard {
    width: 16vw;
    height: 54vh;
    border: 1px solid #E2E2E2;
    background: none;
}

.mac-content {
    margin: 40px 25px;
}

.card-description-header {
    color: #2F3034;
    font-family: Mulish, sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    /* 17px */
    letter-spacing: 0.3px;
    margin-top: 65%;
}

.card-description {
    color: #FFFFFF;
    font-family: Mulish, sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.3px;
    margin-top: 45%;
    display: none;
}

.card-number {
    color: #DA5D24;
    font-family: Mulish, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 17px */
    letter-spacing: 0.3px;
}

.card-plus {
    margin-left: 15px;
}

.ma-vcard:hover p {
    color: #FFFFFF !important;
    font-size: 0.9em;
    margin-top: 10%;
}

.ma-vcard:hover span {
    display: block;
}

#mac-1:hover {
    background-image: linear-gradient(rgba(6, 37, 91, 0.3), rgba(6, 37, 91, 0.3)), url("/img/zimnjaja-specodezhda-v-raznih-klimath-pojasah_specodaru_3 1.jpg");
    background-size: cover;
}

#mac-2:hover {
    background-image: linear-gradient(rgba(6, 37, 91, 0.3), rgba(6, 37, 91, 0.3)), url("/img/zimnjaja-specodezhda-v-raznih-klimath-pojasah_specodaru_3 1.jpg");
    background-size: cover;
}

#mac-3:hover {
    background-image: linear-gradient(rgba(6, 37, 91, 0.3), rgba(6, 37, 91, 0.3)), url("/img/zimnjaja-specodezhda-v-raznih-klimath-pojasah_specodaru_3 1.jpg");
    background-size: cover;
}

#mac-4:hover {
    background-image: linear-gradient(rgba(6, 37, 91, 0.3), rgba(6, 37, 91, 0.3)), url("/img/zimnjaja-specodezhda-v-raznih-klimath-pojasah_specodaru_3 1.jpg");
    background-size: cover;
}

#mac-5:hover {
    background-image: linear-gradient(rgba(6, 37, 91, 0.3), rgba(6, 37, 91, 0.3)), url("/img/zimnjaja-specodezhda-v-raznih-klimath-pojasah_specodaru_3 1.jpg");
    background-size: cover;
}

#mac-6:hover {
    background-image: linear-gradient(rgba(6, 37, 91, 0.3), rgba(6, 37, 91, 0.3)), url("/img/zimnjaja-specodezhda-v-raznih-klimath-pojasah_specodaru_3 1.jpg");
    background-size: cover;
}

.main-experience {
    width: 100%;
}

.main-experience-heading {
    display: flex;
    justify-content: space-between;
    margin: 140px 110px 70px 110px;
}

.me-heading {
    height: 30%;
    margin-left: 10px;
    color: #000;
}

.main-experience-heading p {
    margin: 0 10px 0 10px;
    text-align: left;
    width: 50%;
}